#### PRUEBAS ####

TAMANO_MEMORIA=1024
TAMANO_MINIMO_PARTICION=4
ALGORITMO_MEMORIA=BUDDY
ALGORITMO_REEMPLAZO=FIFO
ALGORITMO_PARTICION_LIBRE=FF
IP_BROKER=127.0.0.1
PUERTO_BROKER=5003
FRECUENCIA_COMPACTACION=1
LOG_FILE=/home/utnso/workspace/tp-2020-1c-aislamientoSOcial/logBroker.log


#### PRUEBA CONSOLIDACIÓN BROKER - PARTICIONES DINÁMICAS ####

#TAMANO_MEMORIA=64
#TAMANO_MINIMO_PARTICION=4
#ALGORITMO_MEMORIA=PD
#ALGORITMO_REEMPLAZO=FIFO
#ALGORITMO_PARTICION_LIBRE=FF
#IP_BROKER=
#PUERTO_BROKER=
#FRECUENCIA_COMPACTACION=10
#LOG_FILE=/home/utnso/workspace/tp-2020-1c-aislamientoSOcial/logBroker.log


#### PRUEBA COMPACTACIÓN BROKER - PARTICIONES DINÁMICAS ####

#TAMANO_MEMORIA=64
#TAMANO_MINIMO_PARTICION=4
#ALGORITMO_MEMORIA=PD
#ALGORITMO_REEMPLAZO=FIFO
#ALGORITMO_PARTICION_LIBRE=FF
#IP_BROKER=
#PUERTO_BROKER=
#FRECUENCIA_COMPACTACION=1
#LOG_FILE=/home/utnso/workspace/tp-2020-1c-aislamientoSOcial/logBroker.log


#### PRUEBA MEMORIA BROKER - BUDDY SYSTEM ####

#TAMANO_MEMORIA=64
#TAMANO_MINIMO_PARTICION=4
#ALGORITMO_MEMORIA=BS
#ALGORITMO_REEMPLAZO=FIFO
#ALGORITMO_PARTICION_LIBRE=FF
#IP_BROKER=
#PUERTO_BROKER=
#FRECUENCIA_COMPACTACION=1
#LOG_FILE=/home/utnso/workspace/tp-2020-1c-aislamientoSOcial/logBroker.log


#### PRUEBA COMPLETA ####

#TAMANO_MEMORIA=64
#TAMANO_MINIMO_PARTICION=4
#ALGORITMO_MEMORIA=BS
#ALGORITMO_REEMPLAZO=FIFO
#ALGORITMO_PARTICION_LIBRE=FF
#IP_BROKER=
#PUERTO_BROKER=
#FRECUENCIA_COMPACTACION=1
#LOG_FILE=/home/utnso/workspace/tp-2020-1c-aislamientoSOcial/logBroker.log